<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
                <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                </ul>
        </div>
    <% end %>
    <%= render :partial => '/devise/registrations/user_fields' , :locals => {:f => f} %>

    <div>
      <%= f.label :department %><br />
      <%= f.collection_select(:department_id, Department.all, :id, :name) %>
    </div>

    <div>
      <%= f.label :role %><br />
      <%= f.collection_select(:role_ids, Role.all, :id, :description) %>
    </div>

    <div>
      <%= f.label :is_manager %><br />
      <%= f.check_box :is_manager %>
    </div>
    <br>
    <!--<div class="field">
        <%= f.label 'Roles' %><br />
        <%=  build_role_list('/users/role_checkbox') %>
    </div>  -->
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>