<%= form_for(@role_permission) do |f| %>
    <% if @role_permission.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@role_permission.errors.count, "error") %> prohibited this role_permission from being saved:</h2>
          <ul>
            <% @role_permission.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.hidden_field :role_id %>
    </div>  <div class="field">
  <%= f.label 'Controller' %><br />
  <%= collection_select(:role_permission, :regulator, @regulators, :to_s, :to_s)  %>
</div>
    <div class="field">
      <%= f.label 'Action' %><br />
      <%= collection_select(:role_permission, :conduct, @conducts, :to_s, :to_s) %>
    </div>
    <div class="actions">
      <%= f.submit  (action_name.upcase == 'EDIT' ? 'Update' : 'Add') + " Permission", :class => "ajaxSubmit" %>
    </div>
<% end %>