<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Nishant's Project</title>

        <!-- Bootstrap -->
        <%= stylesheet_link_tag "application" %>
        <%= stylesheet_link_tag    params[:controller] %>
        <%= javascript_include_tag "application"%>
        <%= javascript_include_tag params[:controller] %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <%= render "layouts/top_nav_bar" %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <div id="nav-bar" class="nav" style="margin-top: 70px">
            <ul id="nav-list" class="nav nav-tabs">
                <li><%=link_to "Home", articles_path%></li>
                <li><%=link_to "Message", new_article_path%></li>
                <li><a href="#">Profile</a></li>
            </ul>
        </div>

        <div id="main-content" style="border: 1px; box-sizing: border-box; margin-top: 20px;">
            <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
    </body>
</html>


